# requirements.txt

# Standard Python Libraries
# random is a built-in library and doesn't need to be included.

# Numeric and Data Analysis Libraries
numpy #>=1.21.0
pandas #>=1.3.0

# Optimization and Statistics Libraries
scipy #>=1.7.0

# Visualization Libraries
matplotlib #>=3.4.2

# External Libraries
stochastic #>=0.6.1
