# requirements.txt


# Numeric and Data Analysis Libraries
numpy 
pandas

# Optimization and Statistics Libraries
scipy
statsmodels

# Visualization Libraries
matplotlib

# External Libraries
stochastic
